<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
  <ion-card *ngIf="mBike">
    <ion-card-header>
      <ion-note>{{mBike.any}}</ion-note>
      <ion-card-title>{{mBike.marca}}</ion-card-title>
      <ion-card-subtitle>{{mBike.modelo}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="{{mBike.foto}}" alt="Imagen moto"></ion-img>
      <p>{{mBike.descripcion}}</p>
    </ion-card-content>
    <ion-footer class="ion-padding" id="price-color">{{mBike.precio}}</ion-footer>
    <ion-footer>
      <ion-button (click)="presentAlertMultipleButtons()">Delete</ion-button>
    </ion-footer>
  </ion-card>
  </div>
</ion-content>
