<ion-header>
  <ion-toolbar>
    <ion-title>add-bike</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Nueva Moto</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-input placeholder="Marca" [(ngModel)]="brand" ></ion-input>
    <ion-input placeholder="Modelo" [(ngModel)]="model"></ion-input>
    <ion-input placeholder="Año" [(ngModel)]="year"></ion-input>
    <ion-input placeholder="Url imagen" [(ngModel)]="url"></ion-input>
    <ion-input placeholder="precio" [(ngModel)]="price"></ion-input>
  </ion-card-content>
</ion-card>
  <ion-fab horizontal="end" slot="fixed" vertical="bottom" class="ion-padding">
    <ion-fab-button>
      <ion-icon name="add" (click)="addBike()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
