<ion-app>
    <ion-menu side="start" menu-id="first" content-id="content1">
      <ion-header>
        <ion-toolbar>
          <ion-title>Navigate</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list *ngFor="let page of navigate">
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="page.url" routerDirection="forward" style="margin: 5px">
              <ion-thumbnail>
                <ion-img style="height: 3em; width: 3em" [src]="page.icon"></ion-img>
              </ion-thumbnail>
              {{page.title}}
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
