<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{ home }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="ion-padding">
        <ion-list>
            <ion-item *ngFor="let bike of bikes" (click)="goToDetail(bike)">
                <ion-thumbnail slot="start" style="width: 4em; height: 3em">
                    <img src="{{ bike.foto }}" alt="Imagen moto">
                </ion-thumbnail>
                <ion-label class="ion-text-wrap" style="margin-left: 16px">
                    <h6>{{bike.marca}}</h6>
                    <p>{{bike.modelo}}</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
    <ion-fab horizontal="end" slot="fixed" vertical="bottom" class="ion-padding">
        <ion-fab-button>
            <ion-icon name="add" (click)="goToAddBike()"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

